---
image: docker:latest
services:
- docker:dind

variables:
  IMAGE_NAME: $CI_REGISTRY/$CI_PROJECT_PATH
  DOCKER_DRIVER: overlay2

stages:
- build
- test

cache:
  key: $CI_PROJECT_NAME
  paths:
  - .venv

build:
  stage: build

  script:
  - |
    if [ -n "$CI_COMMIT_TAG" ]; then
      TAG=$CI_COMMIT_TAG
    else
      TAG=$CI_COMMIT_SHA
    fi
  
  - docker build -t $IMAGE_NAME:$TAG .

  - echo "$CI_JOB_TOKEN" | docker login $CI_REGISTRY -u $CI_REGISTRY_USER --password-stdin

  - docker push $IMAGE_NAME:$TAG

  - |
    if [ "$CI_COMMIT_BRANCH" == "main" ] || [ -n "$CI_COMMIT_TAG" ]; then
      docker tag $IMAGE_NAME:$TAG $IMAGE_NAME:latest
      docker push $IMAGE_NAME:latest
    else
      docker tag $IMAGE_NAME:$TAG $IMAGE_NAME:staging
      docker push $IMAGE_NAME:staging
    fi
    
  - |
    if [ "$CI_COMMIT_BRANCH" != "main" ] && [ -z "$CI_COMMIT_TAG" ]; then
      docker rmi $IMAGE_NAME:$TAG || true
    fi

  only:
  - main
  - tags
